<!doctype html>
<html lang="en">
	<head>
		<!-- LICENSE -->
		<script>
			/*
			@licstart  The following is the entire license notice for the 
			JavaScript code in this page.
			
			Copyright (C) 2016 Andres Angelini and Sergio de los Santos
			
			The JavaScript code in this page is free software: you can
			redistribute it and/or modify it under the terms of the GNU
			General Public License (GNU GPL) as published by the Free Software
			Foundation, either version 3 of the License, or (at your option)
			any later version.  The code is distributed WITHOUT ANY WARRANTY;
			without even the implied warranty of MERCHANTABILITY or FITNESS
			FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.
			
			As additional permission under GNU GPL version 3 section 7, you
			may distribute non-source (e.g., minimized or compacted) forms of
			that code without the copy of the GNU GPL normally required by
			section 4, provided you include this license notice and a URL
			through which recipients can access the Corresponding Source.   
			
			
			@licend  The above is the entire license notice
			for the JavaScript code in this page.
			*/
		</script>
		
		<!-- Load libraries. -->
		{% load staticfiles %}
		<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'js/three.min.js' %}"></script>
		<script src="{% static 'js/OrbitControls.js' %}"></script>
		<script src="{% static 'js/Detector.js' %}"></script>
		
		<!-- Save DJANGO STATIC URL -->
		<script>
		    var staticUrl = "{{ STATIC_URL }}";
		</script>
		
		<!-- Load CSS and JS files -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<script src="{% static 'js/index.js' %}" alt="js/index.js"></script>
		
		<!-- Set website name on browser window and load icon -->
		<title>The Alchemist's Tower</title>
		<link rel="icon" type="image/png" href="{% static 'art/img/lgo/TATLogo.png' %}"/>
		
		<!-- Set character encoding -->
		<meta charset="utf-8">
	</head>
	<body>
		<div id="backgroundCanvasContainer" class="backgroundCanvasContainer">
		</div>
		<div class="loaderContainer">
			<div class="loader">
				<img id="loaderImage"/>
				<p id="loaderText">CASTING...</p>
				<div class="glow">
					<img id="glowImage">
				</div>
			</div>
		</div>
		<div class="flash">
		</div>
		<div class="blur">
		</div>
		<div class="floatContainer">
			<div class="leftContainer">
				<div>
					<div id="aboutBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<img id="aboutBoardImage">
						</div>
						<p>
							Hello traveler. Welcome to our village!<br>
							This charming little place in a far away land is
							home to our workshop. We are a duo of artisans
							passionate about crafting characters for videogames.
							Each of our creations is a labor of love, devotion
							and hard work. And all of them are created using
							Free Software and released under Open Standards.
						</p>
						<p>
							We believe in an Open World, where cooperation, not
							competition, should be our primary drive. As
							artists, nothing makes us happier than sharing our
							creations with the world, so that they can be used
							and enjoyed with the same freedoms we had to create
							them. This value is the very core of our Philosophy.
						</p>
						<p>
							Come in and take a look at our collection! You are
							free to download and use many of our pieces! But if
							you like what we do and want to support us, please
							consider making a small contribution before
							downloading or helping us through a donation. If, on
							the other hand, you have a specific request or need
							help with your project, we also do commissions as
							well as contractual work for longer periods of time
							too. Check out the F.A.Q.s and be sure to contact us
							if you have any other question!
						</p>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
					<div id="newsBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<img id="newsBoardImage">
						</div>
						<div class="scrollContainer clickable"
							id="newsScrollContainer">
							<div id="newsScrollTrack" class="clickable">
								<div id="newsScrollThumb" class="clickable">
									<img class="scrollThumbTopImage">
									<img id="newsScrollThumbCenter"
										class="scrollThumbCenterImage">
									<img class="scrollThumbBottomImage">
								</div>
							</div>
							<div id="newsScrollContent">
								<div id="newsContent">
									<br>
									<br>
									<br>
									<h4># ENTRIES #</h4>
									<br>
									<p class="heading_1 headings clickable">Feb 2, 2016</p>
									<br>
									<p>--- # ---</p>
									<br>
									<h4 class="locator_1">Feb 2, 2016 - Grand Opening!</h4>
									<br>
									<p>
										Today, we are thrilled to announce we
										are opening our doors, full of
										enthusiasm and expectections for what
										we think will be truly exciting times.
									</p>
									<br>
									<p>
										We are two artists on a mission. A
										mission to bringing to life awesome
										creations with passion, skills, and
										expertise and share them with the
										world. Why? Because we want to give
										back to the Free and Open Source
										community, who has given us so much,
										by doing what we do best. And because
										we believe in a new kind of busines
										model. One that is more honest, open,
										and transparent. One that is not eager
										to attack others for sharing their work,
										but to the contrary, foments it and
										thanks them for doing so.
									</p>
									<br>
									<p>
										We will be making 3d assets for
										videogames and sharing them with world
										so that anyone can use, copy and
										redistribute modified copies of them as
										freely as we do with the tools we use
										to create them. Our goal is to help the
										development of more amazing FLOSS games.
										And we will do this in two ways. One,
										by releasing works that we come up on
										our own under a Creative Common License.
										And two, by offering a discount on our
										commissions for projects to be realead
										as FLOSS.
									</p>
									<br>
									<p>
										So, next time you need help with your
										project, we hope you think of us, two
										crazy old artisans immersed in their
										work, at the top of their Tower in a far
										away but cozy village... doing
										Alchemy.
									</p>
									<br>
									<p>--- # ---</p>
									<br>
								</div>
							</div>
						</div>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
					<div id="charactersBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<div id="viewerCanvasContainer" class="clickable">
							</div>
							<img class="charactersBoardImage">
							<img class="charactersBoardImage">
						</div>
						<table id="akaneProfile">
							<thead>
								<tr>
									<th colspan="2"><h2>Akane</h2></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="2">
										Also known for her persuasiveness and
										outstanding intelligence, her destiny
										became clear when her incredible magic
										abilities were found. Not only she
										excelled in her academic studies, but
										also had a natural grasp of sorcery
										extremely rare to be found in these
										lands. Not surprisingly, she met Ryuu
										while he was trying to protect a small
										caravan carrying supplies for the Autumn
										Festival from some bandits. They became
										close friends ever since.
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										&nbsp
									</td>
								</tr>
								<tr>
									<td><h4>POLYGONS:</h4></td>
									<td>3640 triangles</td>
								</tr>
								<tr>
									<td><h4>OBJECTS:</h4></td>
									<td>2 (character + weapon) *.blend</td>
								</tr>
								<tr>
									<td><h4>SHADING:</h4></td>
									<td>none (shadeless)</td>
								</tr>
								<tr>
									<td><h4>TEXTURE:</h4></td>
									<td>3 *.png + 3 *.xcf (source)</td>
								</tr>
								<tr>
									<td><h4>RIG:<h4></td>
									<td>74 bones set in FK + IK controls</td>
								</tr>
								<tr>
									<td><h4>FILE SIZE:</h4></td>
									<td >2.5MB</td>
								</tr>
								<tr>
									<td><h4>LICENSE</h4></td>
									<td></td>
								</tr>
							</tfoot>
						</table>
						<table id="chikaProfile">
							<thead>
								<tr>
									<th colspan="2"><h2>Chika</h2></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="2">
										Energetic as a wild stampid of ronkors,
										nothing seems to be able to stop Chika
										from her frantic raids of madness and
										hilariousness. She was found as an
										orphan by a group of nomadic hunters,
										who raised and trained her in the use of
										long ranged weapons. One day, while
										hunting, she shot what seemed to be a
										large pray. But in fact, it was Taro!
										To her surprise, he forgave her and kept
										on his noble quest. So she decided to
										join him and never break apart again.
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										&nbsp
									</td>
								</tr>
								<tr>
									<td><h4>POLYGONS:</h4></td>
									<td>2464 triangles</td>
								</tr>
								<tr>
									<td><h4>OBJECTS:</h4></td>
									<td>2 (character + weapon) *.blend</td>
								</tr>
								<tr>
									<td><h4>SHADING:</h4></td>
									<td>none (shadeless)</td>
								</tr>
								<tr>
									<td><h4>TEXTURE:</h4></td>
									<td>3 *.png + 3 *.xcf (source)</td>
								</tr>
								<tr>
									<td><h4>RIG:<h4></td>
									<td>65 bones set in FK + IK controls</td>
								</tr>
								<tr>
									<td><h4>FILE SIZE:</h4></td>
									<td >1.8MB</td>
								</tr>
								<tr>
									<td><h4>LICENSE</h4></td>
									<td></td>
								</tr>
							</tfoot>
						</table>
						<table id="ryuuProfile">
							<thead>
								<tr>
									<th colspan="2"><h2>Ryuu</h2></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="2">
										Born in the town of Altica, he was
										raised by his uncle in the small village
										of Teris, to the south, after loosing
										his parents in a tragic fire while he
										was still a little kid. Having no
										memories of such incident, Ryuu grew up
										to become a fine young lad, well
										appreciated by those around him for his
										courage and willingness to help others.
										These are precisely the traits that will
										turn him into a natural lider, before he
										even realize.
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										&nbsp
									</td>
								</tr>
								<tr>
									<td><h4>POLYGONS:</h4></td>
									<td>2214 triangles</td>
								</tr>
								<tr>
									<td><h4>OBJECTS:</h4></td>
									<td>2 (character + weapon) *.blend</td>
								</tr>
								<tr>
									<td><h4>SHADING:</h4></td>
									<td>none (shadeless)</td>
								</tr>
								<tr>
									<td><h4>TEXTURE:</h4></td>
									<td>3 *.png + 3 *.xcf (source)</td>
								</tr>
								<tr>
									<td><h4>RIG:<h4></td>
									<td>64 bones set in FK + IK controls</td>
								</tr>
								<tr>
									<td><h4>FILE SIZE:</h4></td>
									<td >1.9MB</td>
								</tr>
								<tr>
									<td><h4>LICENSE</h4></td>
									<td></td>
								</tr>
							</tfoot>
						</table>
						<table id="taroProfile">
							<thead>
								<tr>
									<th colspan="2"><h2>Taro</h2></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="2">
										His intimidating size and fierciness in
										battle made of him a lonely fella. Being
										the only child of a couple of miners
										living in The Mountains of the Thousand
										Winds didn't help either. Nevertheless,
										size and all, Taro is as noble and
										gentle as you can get. As a testament of
										this, he embarked on a jorney to find
										the mysterious Ambar Crystal, which is
										said to be the energy source of Kriev,
										the miners' underground city. On his way
										he met Chika, his loyal friend.
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										&nbsp
									</td>
								</tr>
								<tr>
									<td><h4>POLYGONS:</h4></td>
									<td>2369 triangles</td>
								</tr>
								<tr>
									<td><h4>OBJECTS:</h4></td>
									<td>2 (character + weapon) *.blend</td>
								</tr>
								<tr>
									<td><h4>SHADING:</h4></td>
									<td>none (shadeless)</td>
								</tr>
								<tr>
									<td><h4>TEXTURE:</h4></td>
									<td>3 *.png + 3 *.xcf (source)</td>
								</tr>
								<tr>
									<td><h4>RIG:<h4></td>
									<td>61 bones set in FK + IK controls</td>
								</tr>
								<tr>
									<td><h4>FILE SIZE:</h4></td>
									<td >1.7MB</td>
								</tr>
								<tr>
									<td><h4>LICENSE</h4></td>
									<td></td>
								</tr>
							</tfoot>
						</table>
						<div>
							<p>
								<span>Controls</span>: rotate with LMB, pan with
								RMB and zoom in/out with mouse wheel.
							</p>
						</div>
						<div>
							<p id="actionName"></p>
							<img id="normalPreviousActionButtonImage">
							<img id="normalNextActionButtonImage">
							<img id="hoveredPreviousActionButtonImage">
							<img id="hoveredNextActionButtonImage">
							<img id="activePreviousActionButtonImage">
							<img id="activeNextActionButtonImage">
							<div id="previousActionButton" class="clickable">
							</div>
							<div id="nextActionButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="normalDownloadButtonImage">
							<img id="hoveredDownloadButtonImage">
							<img id="activeDownloadButtonImage">
							<div id="downloadButton" class="clickable">
							</div>
						</div>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
					<div id="FAQBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<img id="FAQBoardImage">
						</div>
						<div class="scrollContainer clickable"
							id="FAQScrollContainer">
							<div id="FAQScrollTrack" class="clickable">
								<div id="FAQScrollThumb" class="clickable">
									<img class="scrollThumbTopImage">
									<img id="FAQScrollThumbCenter"
										class="scrollThumbCenterImage">
									<img class="scrollThumbBottomImage">
								</div>
							</div>
							<div id="FAQScrollContent">
								<div id="FAQContent">
									<br>
									<br>
									<br>
									<h4># INDEX #</h4>
									<br>
									<p class="heading_1 headings clickable">
										What's this place?
									</p>
									<p class="heading_2 headings clickable">
										Who are you?
									</p>
									<p class="heading_3 headings clickable">
										How does it work?
									</p>
									<p class="heading_4 headings clickable">
										And how do I make a purchase?
									</p>
									<p class="heading_5 headings clickable">
										"Free"? Really? Come on, what's the
										catch?
									</p>
									<p class="heading_6 headings clickable">
										Ok. But, how come it's free?
									</p>
									<p class="heading_7 headings clickable">
										What about the "Freedom" part? What did
										you mean?
									</p>
									<p class="heading_8 headings clickable">
										So, how do I commission something to
										you?
									</p>
									<p class="heading_9 headings clickable">
										What happens if I'm not satisfied with
										the final results?
									</p>
									<p class="heading_10 headings clickable">
										Can I ask for a refund?
									</p>
									<p class="heading_11 headings clickable">
										Can I cancel my order?
									</p>
									<p class="heading_12 headings clickable">
										What happens to the files I have if I
										cancel?
									</p>
									<p class="heading_13 headings clickable">
										Now that you mention it, what about the
										license?
									</p>
									<p class="heading_14 headings clickable">
										Do you have any tips about
										commissioning?
									</p>
									<p class="heading_15 headings clickable">
										How do I donate?
									</p>
									<p class="heading_16 headings clickable">
										Why should I donate?
									</p>
									<p class="heading_17 headings clickable">
										Can I ask for a refund for a character I
										bought from your collection?
									</p>
									<p class="heading_18 headings clickable">
										For comissions, we do have a refund
										policy. Read carefully, please:
									</p>
									<br>
									<p>--- # ---</p>
									<br>
									<h4 class="locator_1">What's this place?</h4>
									<br>
									<p>
										This is our workshop! You can browse and
										download from our collection of
										carefully crafted 3d characters, request
										us to make yours based on your own
										design, or even ask us to design them
										for you to fit your particular needs.
									</p>
									<br>
									<h4 class="locator_2">Who are you?</h4>
									<br>
									<p>	
										Glad you ask! In a few
										words, we are two enthusiastic artists
										who are really passionate about making
										characters for videogames. Find more
										about us here.
									</p>
									<br>
									<h4 class="locator_3">How does it work?</h4>
									<br>
									<p>
										Quite simple, in fact. First, browse our
										collection in the "Characters" section.
										Choose a character you are interested in
										and a new dialog will appear in front of
										you with all the information, including
										name, a brief background history,
										technical details, and even a 3d
										viewport where you can look at them from
										any angle! Also, you can browse their
										different actions as you watch them in
										real time! Once you see something you
										like, just click "Download" and enjoy!
									</p>
									<br>
									<h4 class="locator_4">
										And how do I make a purchase?
									</h4>
									<br>
									<p>
										Buy?. It's free! Free as in "free beer"
										and more importantly, free as in
										"Freedom"!
									</p>
									<br>
									<h4 class="locator_5">
										"Free"? Really? Come on, what's the
										catch?
									</h4>
									<br>
									<p>
										Really. There is no catch. It's all part
										of our Philosophy. But we do take
										commissions!
									</p>
									<br>
									<h4 class="locator_6">
										Ok. But, how come it's free?
									</h4>
									<br>
									<p>
										It's free as in "free beer" because we
										understand how costly art assets can
										become for any truly independent game
										developer. At the same time, we are
										hoping to gain your trust not only by
										showing you our work through a shiny
										glass but by also letting you actually
										use them in your own projects. Even if
										they are for commercial purposes! Of
										course, this might not be feasible most
										of the time since you probably need art
										assets specifically designed for your
										games. That's when you would want to
										commission us a job! Comissions are our
										best source of income and the best way
										to support what we do.
									</p>
									<br>
									<h4 class="locator_7">
										What about the "Freedom" part? What did
										you mean?
									</h4>
									<br>
									<p>
										Dealing with the licensing of a project
										can get really difficult. This is
										specially true with games that are
										intended to be released as <a
										class="clickable"
										href="https://www.gnu.org/philosophy/free-sw.en.html"
										title="https://www.gnu.org/philosophy/free-sw.en.html"
										tabindex="-1">
										free software</a>
										or <a class="clickable"
										href="http://opensource.org/osd"
										tabindex="-1"> open source</a>. For
										example, on the software side, the
										developer might have used some
										version of the <a class="clickable"
										href="https://gnu.org/licenses/gpl.html"
										tabindex="-1">
										GPL</a> or some other type of <a
										class="clickable"
										href="https://www.gnu.org/licenses/copyleft.en.html"
										tabindex="-1"> copyleft</a>, but when it
										comes to art assets, two things might
										happen. The art is under a restrictive
										license, which some would argue that it
										would make the whole idea of an open
										source game pointless, or the artist is
										willing to license it under a copyleft
										but he is not sure which one to use. And
										even if it is licensed under one of
										them, lets
										say for the sake of argument, a
										<a class="clickable" href="https://creativecommons.org/licenses/"
										tabindex="-1">Creative Commons</a>, the
										game developer has yet to decide whether
										he or she will license both the software
										and the art assets separately or all
										together as a whole.
									</p>
									<br>
									<p>
										We have decided to make it simple for
										you, so we are licesing all our content
										under the <a class="clickable"
										href="http://creativecommons.org/licenses/by-sa/3.0/"
										tabindex="-1"> CC-BY-SA 3.0</a> License
										and the <a class="clickable"
										href="https://www.gnu.org/copyleft/gpl.html"
										tabindex="-1"> GNU GPL 3.0</a>. Please,
										do take the time to read the licenses
										carefully about what you can, and cannot
										do. Also, please note that while the
										content we make available through this
										site use the above mentioned licenses,
										the same doesn't necesarelly apply to
										the ones you commission us. That's
										becuase we want to give you the
										flexibility to choose the license that
										fit your project the best. Having said
										that, we will always encourage you to
										use a copyleft license. ;)
									</p>
									<br>
									<p>
										There is, however, a more meaningful
										reason for this decision. We, as
										artists, have come to enjoy and benefit
										a great deal from the tools that have
										been made available to us by the free
										software community. Now, we want to give
										back, and the best way we can think of
										is by offering game developers our
										content with the same freedoms we were
										given. After all, what really matter to
										us is getting commissions so that we can
										manage a sustainable business.
									</p>
									<br>
									<h4 class="locator_8">
										So, how do I commission something to
										you?
									</h4>
									<br>
									<p>
										Just contact us through our "Contact"
										button and tell us what's in your mind.
										We'll send you a form to your email
										address and ask you to fill it with as
										many details as possible. We'll then
										give you a quote depending on your
										request. If you accept it, you will need
										to make a payment of 30% of the total
										price in advance as a deposit through
										Paypal (you don't need a Paypal account
										to do this). Once this is done, we will
										start working immediately on your order.
										You will be granted access to a file
										repository with daily updates so that
										you can see its progress. You can
										download the files and test them
										yourself. This not only adds
										transparency to the whole process, but
										also makes it more efficient. If you see
										something that should be changed or
										fixed, it can be done on the fly. Once
										met the delivery date, you will be asked
										to make the rest of the payment in order
										to receive the final version of the
										files. In general, we accept two types
										of commisions: with blueprints or
										without blueprints. That is, you can ask
										us to create a character (or more)
										according to your own design, or you can
										have us design them for you to fit your
										specifications. This distinction is
										important since they have different
										prices. Basically, when you request us
										to make you a design, we have to study
										very well all the information you
										provide us and make a thorough research
										based on that. Think of characters not
										as simply empty plastic things, but as
										real beings with souls of their own!
										It's a very enjoyable process but it
										takes a lot of work and time.
									</p>
									<br>
									<h4 class="locator_9">
										What happens if I'm not satisfied with
										the final results?
									</h4>
									<br>
									<p>
										We work really hard and passionetely on
										what we do, but we also aknowledge that
										sometimes differences may arise. In the
										event something like this takes place,
										we will work with you to try to find a
										solution that works for both parties.
										Please also note that, being on the
										final stage of the process means that
										you had to have checked and approved all
										the the other instances, therefore if
										there were some issue with your order,
										this should be fixed in little time.
									</p>
									<br>
									<h4 class="locator_10">Can I ask for a refund?</h4>
									<br>
									<p>
										Of course! When you comission a job to
										us, you are asked to make a deposit of
										30% of the total price in advance. We
										promise to refund the full amount of
										your deposit if we don't meet the
										scheduled delivery date. If we see we
										can't deliver as we promised for any
										reason, we will work with you to try to
										appoint a new delivery date. However, if
										a new date can't be stablished and we
										still don't meet the original delivery
										date, we will give you a full refund.
									</p>
									<br>
									<h4 class="locator_11">Can I cancel my order?</h4>
									<br>
									<p>
										Yes. But please be aware that you will
										loose your deposit if you do so after
										the first 24 hours of commissioning.
									</p>
									<br>
									<h4 class="locator_12">
										What happens to the files I have if I
										cancel?
									</h4>
									<br>
									<p>
										As mentioned before, once we start
										working on your order, you will be given
										acces to a file repository with daily
										updates, ableing you to download, see
										and test your order as it's being
										developed. During the whole development,
										the files you acces to are under a
										different license than the final version
										will be. Such license will only grant
										you permission to use, distribute and
										redistribute modified versions of the
										files among your work group or studio.
										You are not allowed, under any
										circunstances, to use them for
										commercial porpuses. This means that if
										the order is cancelled by any party for
										whatever reason, the development files
										won't be able to be used commercially or
										otherwise, rendering them useless for
										any practical use.
									</p>
									<br>
									<h4 class="locator_13">
										Now that you mention it, what about the
										license?
									</h4>
									<br>
									<p>	
										Good point! Like we said, the
										development files use a license which
										will let you use, modify and copy the
										files so that you can work freely
										whithin your group, while at the same
										time guaranteeing us that you won't be
										making a profit from it unfairly.
										However, we may license the final
										version of the file depending on your
										needs. We go as far as to say that we
										will license it under a copyleft if
										needed. Even more, we encourage you to
										do so! So much so that we will give you
										a discount in such a case!
									</p>
									<br>
									<h4 class="locator_14">
										Do you have any tips about
										commissioning?
									</h4>
									<br>
									<p>
										Yes! Here they go:
									</p>
									<br>
									<h4>
										#1 - READ
									</h4>
									<br>
									<p>
										This should go without saying, but
										before even thinking about ordering,
										please read all the FAQ section. That's
										why it's for. It will clear up most of
										your questions and give you a general
										idea of how we work.
									</p>
									<br>
									<h4>#2 - ORDER WITH TIME</h4>
									<br>
									<p>
										We might be risking your initial
										interest here, but if so, it's probably
										for the best. Many will advertise
										themselves as the fastest solution on
										the market, and that might be true.
										However, we are not going to tell you
										that. In fact, all the contrary. Making
										characters takes passion, dedication and
										time. Specially when designing them. As
										we've already mentioned, we believe
										characters are not something you can't
										just make on a whim. There has to be a
										thought process behind them and their
										appearance is key in giving an inside on
										their personality and their past. This
										will engage your audience's emotions and
										bring your story further to life. To
										this end, we have to start working
										together and fully immerse ourselves in
										your project from the very beginning for
										you to get the most out of the character
										development process. This is why it is
										so important that you contact us as
										early as possible. What brings us to our
										next tip.
									</p>
									<br>
									<h4>#3 - HAVE YOUR GDD READY</h4>
									<br>
									<p>
										This should also be obvious. Don't
										contact us without having at least a
										Game Design Document. Even more, don't
										try to contact anyone else before you do
										so. If you are trying to convince
										someone to join you in your project, you
										at least need a carefully detailed plan
										to show them you are serious. Also, it's
										the only way you can make a projection
										of your costs and plan your budget
										ahead.
									</p>
									<br>
									<h4>#4 - ASK US</h4>
									<br>
									<p>
										This FAQ doesn't cover everything.
										Please send us your inqueries before
										ordering.
									</p>
									<br>
									<h4 class="locator_15">How do I donate?</h4>
									<br>
									<p>
										Really? It really makes us happy to hear
										that question! We have actually put in
										place three differents ways to make
										donations: Flattr, Patreon and good old
										PayPal. Choose the one you like the
										most!
									</p>
									<br>
									<h4 class="locator_16">Why should I donate?</h4>
									<br>
									<p>
										Of course, there is no obligation for
										you to donate. Otherwise we would simply
										ask you to buy from us, and that is not
										our Philosophy. However, please have in
										mind that, when you donate, you are
										helping us keep releasing free copyleft
										content for the benefit of the whole
										free software community and anyone else
										interested in learning game development.
									</p>
									<br>
									<p>
										We a are a two-artist independent studio
										who rely on their own resources without
										any aid from third party investments.
										However, we believe in our Philosophy so
										firmly that we are putting all our
										efforts, time and money into it. If you
										like what we do, please consider helping
										us!
									</p>
									<br>
									<h4 class="locator_17">Can I ask for a refund for a character I
										bought from your collection?</h4>
									<br>
									<p>
										Unfortunatly, we don't do refunds for
										those. Please, make sure you read all
										the information and check out the
										character you are interested in before
										you buy. If you have any question about
										it, don't hesitate in asking us. If you
										have any kind of issue while downloading
										or find your file is damaged in any way,
										please let us know as soon as possible
										and we will help you to solve your
										problem.
									</p>
									<br>
									<h4 class="locator_18">
										For comissions, we do have a refund
										policy. Read carefully, please:
									</h4>
									<br>
									<p>
										When you comission a job to us, you are
										asked to make a deposit of 30% of the
										total price in advance. We promise to
										refund the full amount of your deposit
										if we don't meet the scheduled delivery
										date. If we see we can't deliver as we
										promised for any reason, we will work
										with you to try to appoint a new
										delivery date. However, if a new date
										can't be stablished and we still don't
										meet the original delivery date, we will
										give you a full refund.
									</p>
									<br>
									<p>--- # ---</p>
									<br>
								</div>
							</div>
						</div>
						<div>
							<img class="normalBackToDownloadButtonImage">
							<img class="hoveredBackToDownloadButtonImage">
							<img class="activeBackToDownloadButtonImage">
							<div class="backToDownloadButton clickable">
							</div>
						</div>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
					<div id="contactBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<img id="contactBoardImage">
						</div>
						<form id="contactForm">
							<h4>
								Email:
							</h4>
							<input id="contactFormEmail"
								class="textField clickable" type="text"
								name="email" placeholder="How can we reach you?"
								value="">
							<br>
							<h4>
								Subject:
							</h4>
							<input id="contactFormSubject"
								class="textField clickable" type="text"
								name="subject" placeholder="What is it about?"
								value="">
							<br>
							<br>
							<h4>
								Message:
							</h4>
							<br>
							<textarea id="contactFormTextArea" mame="message"
								class="textArea clickable"
								maxlength="800" cols="50" rows="13"
								placeholder="Tell us. What can we do for you?">
							</textarea>
							{% csrf_token %}
						</form>
						<div id="confirmationMessage">
							<p>
								Your message has been sent. Thank you! We will
								be contacting you promplty.
							</p>
						</div>
						<div>
							<img id="normalSendButtonImage">
							<img id="hoveredSendButtonImage">
							<img id="activeSendButtonImage">
							<div id="sendButton" class="clickable">
							</div>
						</div>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
					<div id="accountBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<img id="accountBoardImage">
						</div>
						<h2>Login info</h2>
						<form>
							<h4>Username:</h4>
							<input id="accountUsername"
								class="textField" type="text"
								name="accountUsername"
								disabled="disabled">
							<br>
							<br>
							<h4>E-mail address:</h4>
							<input id="accountFormEmail"
								class="textField clickable" type="text"
								name="email" placeholder=""
								value="">
							<input id="accountEmailSubmit"
								class="clickable" type="submit"
								name="accountEmailSubmit" value="Update">
							<br>
							<br>
							<h4>Change Password:</h4>
							<input id="accountPasswordInput"
									class="textField clickable"
									type="password"
									name="accountPasswordInput"
									placeholder="enter new password."
									size="20"
									autocomplete="off"
									value="">
							<br>
							<br>
							<h4>Confirm Password:</h4>
							<input id="accountRePasswordInput"
									class="textField clickable"
									type="password"
									name="accountRePasswordInput"
									placeholder="re-type your password."
									size="20"
									autocomplete="off"
									value="">
							<input id="accountPasswordButton"
								class="clickable" type="submit"
								name="accountPasswordButton"
								value="Update">
							{% csrf_token %}
						</form>
						<h2>My library</h2>
						<p>From here you can download any of your previously
							purchased models as well as those already available
							for free.
						</p>
						<table>
							<thead>
								<tr>
									<th>
										ITEM
									</th>
									<th>
										TYPE
									</th>
									<th>
										LICENSE
									</th>
									<th>
										PRICE (U$S)
									</th>
								</tr>
							</thead>
						</table>
						<div>
							<div class="scrollContainer clickable"
								id="libraryScrollContainer">
								<div id="libraryScrollTrack" class="clickable">
									<div id="libraryScrollThumb"
										class="clickable">
										<img id="libraryScrollThumbTop"
											class="scrollThumbTopImage">
										<img id="libraryScrollThumbCenter"
											class="scrollThumbCenterImage">
										<img id="libraryScrollThumbBottom"
											class="scrollThumbBottomImage">
									</div>
								</div>
								<div id="libraryScrollContent">
									<div id="libraryContent">
									</div>
								</div>
							</div>
						</div>
						<form id="downloadFromLibraryForm" method="get"
							target="_blank">
							<button id="downloadFromLibraryButton"
								class="clickable" type="submit"
								name="downloadFromLibraryButton"
								value="Download">
								Download
							</button>
						</form>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
					<div id="TOSBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<img id="TOSBoardImage">
						</div>
						<div class="scrollContainer clickable"
							id="TOSScrollContainer">
							<div id="TOSScrollTrack" class="clickable">
								<div id="TOSScrollThumb" class="clickable">
									<img class="scrollThumbTopImage">
									<img id="TOSScrollThumbCenter"
										class="scrollThumbCenterImage">
									<img class="scrollThumbBottomImage">
								</div>
							</div>
							<div id="TOSScrollContent">
								<div id="TOSContent">
									<br>
									<br>
									<br>
									<h4>
										The Alchemist's Tower Terms of Service
										("Agreement")
									</h4>
									<br>
									<p>
										This Agreement was last modified on...
									</p>
									<br>
									<br>
									<p>
										Please read these Terms of Service
										completely before continuing using this
										site since they govern your use of it
										and are legally binding.
									</p>
									<br>
									<h4>1. DEFINITIONS</h4>
									<br>
									<p>
										The following are some terms we will use
										to make this document easier to read:
									</p>
									<br>
									<p>
										"thealchemisttower.com", "we", "us" and
										"our" mean(s) The Alchemist's Tower.
									</p>
									<br>
									<p>
										"You" means the user. "the site" means
										the website located at
										www.thealchemisttower.com.
									</p>
									<br>
									<h4>2. WHEN DO THEY APPLY</h4>
									<br>
									<p>
										BY USING OR ACCESSING THE SITE IN ANY
										WAY, VIEWING OR BROWSING THE SITE, OR
										DOWNLOADING OUR CONTENT FROM THE SITE,
										YOU ARE AGREEING TO BE BOUND BY THESE
										TERMS OF SERVICE.
									</p>
									<br>
									<h4>
									3. ACCURACY OF INFORMATION
									</h4>
									<p>
										This site and its components are offered
										for informational purposes only; this
										site shall not be responsible or liably
										for the accuracy, usefulness or validity
										of any of this information and shall not
										be responsible or liable for any error
										or omissions in that information.
									</p>
									<br>
									<h4>
									4. WHO CAN USE IT
									</h4>
									<br>
									<p>
										You can only use this site and download
										our productos if you are above the age
										of 13 and accept these Terms of Service.
										If your minor use the site you are
										solely responsible for such use,
										including, without limitation, any
										purchases your minor children make
										through the site.
									</p>
									<br>
									<h4> 5. YOUR LIBRARY </h4>
									<br>
									<p>
										Everytime you purchase a product from
										our site using your account we make it
										available for you from then on so that
										you can download it later, as many times
										you want. This, however, is a service we
										offer you at no extra charge and it is
										provided "as is". We are not responsible
										for any loss, malfunction or any kind of
										inhability to download files from our
										servers you might experience.
										Furthermore, we reserve the right to
										interrupt such service without previous
										notice and without any obligation to
										inform you the reason. As such, we
										encourage you to download your purchased
										files as soon as you buy them and make
										your own local backup.
									</p>
									<br>
									<h4>6. COPYRIGHT POLICY</h4>
									<br>
									<p>
										The entire code of this website is
										published under GNU GPLv3 and as such is
										"free software". The art assets are all
										published under CC-BY. However, our
										products have each their own licenses
										which should be read and respected
										accordingly. Also, there might be
										third-party logos and trademarks
										displayed on the site and if so, you
										agree to respect each of their
										respective copyrights.
									</p>
									<br>
									<h4>
										7. THIRD PARTY LINKS, SITES and SERVICES
									</h4>
									<br>
									<p>
										Our site may contain links to
										third-party websites that are not owned
										or controlled by The Alchemist's Tower.
										We do not endorse or assume any
										responsability for any of such
										third-party sites. If you access them,
										you do it at your own risk and agree not
										to held The Alchemist's Tower
										responsible or liable for your access or
										usage of any third-party site.
									</p>
									<br>
									<h4>8. SECURITY</h4>
									<br>
									<p>
										We care a lot about security and take
										every single step to safeguard our
										user's private information, in
										accordance with The Alchemist's Tower's
										Privacy Policy, which you should read
										here. However, we cannot garantee that
										unauthorized third-parties will not
										manage to defeat our security measures.
										If you do detect an unauthorized access
										or any other anomaly in your account,
										please notify us immediately.
									</p>
									<br>
									<h4>9. TERMINATION</h4>
									<br>
									<p>
										The Alchemit's Tower reserves the right
										to suspend or terminate access to our
										the site at any moment, without prior
										notice or liability, for any reason
										whatsoever, including without limitation
										if you breach these Terms of Service.
										All provisions of the Terms of Service
										shall survive termination, including
										without limitation, ownership
										provisions, warranty disclaimers,
										indemnity and limitations of liablility.
									</p>
									<br>
									<h4>10. GOVERNING LAW AND JURISDICTION</h4>
									<br>
									<p>
										These Terms of Service shall be governed
										by the laws of the Eastern Republic of
										Uruguay, without respect to its conflict
										of laws principles. If we, for any
										reason, are unable to enforce any right
										or provision of these Terms of Services,
										this will not be regarded as a waiver of
										those rights. If a court finds any
										provision of these Terms of Service to
										be invalid or unenforceable, the
										remaining provisions will still remain
										in effect. These Terms of Service
										constitute the entire agreement between
										us regarnding your usage of our site,
										and supersede and replace any prior
										agreement we might have between us
										regarding such use.
									</p>
									<br>
									<h4>11. CHANGES</h4>
									<br>
									<p>
										We reserve the right, at our own
										discretion, to modify or replace these
										Terms of Service at any Time. If a
										change is to take effect we will try to
										provide at least 30 days notice prior to
										any new terms taking effect. By
										continuing to access or use our site
										after those changes become effective,
										you agree to be bound by the revised
										terms. If you do not agree to the new
										terms, please stop using our site.
									</p>
									<br>
									<h4>12. CONTACT US</h4>
									<br>
									<p>
										If you have any questions about these
										Terms of Service, please contact us.
									</p>
									<br>
									<p>--- # ---</p>
									<br>
								</div>
							</div>
						</div>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
					<div id="PPBoard">
						<div>
							<img class="boardChainsImage">
						</div>
						<div>
							<img id="PPBoardImage">
						</div>
						<div class="scrollContainer clickable"
							id="PPScrollContainer">
							<div id="PPScrollTrack" class="clickable">
								<div id="PPScrollThumb" class="clickable">
									<img class="scrollThumbTopImage">
									<img id="PPScrollThumbCenter"
										class="scrollThumbCenterImage">
									<img class="scrollThumbBottomImage">
								</div>
							</div>
							<div id="PPScrollContent">
								<div id="PPContent">
									<br>
									<br>
									<br>
									<h4>Privacy Policy</h4>
									<br>
									<p>Last updated:</p>
									<br>
									<br>
									<p>
										The Alchemist's Tower ("us", "we" or
										"our") operates
										https://www.thealchemisttower.com (the
										"Site"). This page informs you of our
										policies regarding the collection, use
										and disclosure of Personal Information
										we receive from users of the Site.
									</p>
									<br>
									<p>
										We use your Personal Information for
										providing and improving the Site. By
										using the Site, you agree to the
										collection and use of information in
										accordance with this policy.
									</p>
									<br>
									<h4>
										1. What do we collect and how do we use
										it?
									</h4>
									<br>
									<p>
										The only personal information we collect
										is your e-mail address when you create
										an account with us. An account is
										required for making a purchase but not
										for visiting the site. We will only use
										you e-mail address to contact you
										regarding your account's activity
										(purchases, change of password or
										username, etc.).
									</p>
									<br>
									<p>
										We do not collect information sent by
										your browser such as your computer's
										Internet Protocol ("IP") address,
										browser type, browser version, the pages
										of our Site that you visit, the time and
										date of your visit, the time spent on
										those pages and other statistics nor do
										we use third-party services such as
										Google Analytics to collect, monitor and
										analize this information.
									</p>
									<br>
									<h4>
										2. Do we disclose any information to
										outside parties?
									</h4>
									<br>
									<p>
										We do not sell, trade or otherwise
										trasnfer to outside parties your
										personally identifiable information
										unless otherwise mandated by an
										Uruguayan Court of Law.
									</p>
									<br>
									<h4>
										3. Do we use cookies?</h4>
									<br>
									<p>
										Yes. We use them as part of a protection
										mechanism against Cross Site Request
										Forgeries. This type of attack occurs
										when a malicious Web site contains a
										link, a form button or some JavaScript
										that is intended to perform some action
										on your Web site, using the credentials
										of a logged-in user who visits the
										malicious site in their browser. 
									</p>
									<br>
									<p>
										What are cookies? Cookies are small
										files that a site or its service
										provider transfers to your computers
										hard drive through your Web browser (if
										you allow it) that enables the sites or
										service providers systems to recognize
										your browser and capture and remember
										certain information.
									</p>
									<br>
									<h4>4. Security</h4>
									<br>
									<p>
										We care a lot about security and take
										every single step to safeguard our
										user's private information, in
										accordance with The Alchemist's Tower's
										Privacy Policy, which you should read
										here. However, we cannot garantee that
										unauthorized third-parties will not
										manage to defeat our security measures.
										If you do detect an unauthorized access
										or any other anomaly in your account,
										please notify us immediately.
									</p>
									<br>
									<h4>5. Changes to This Privacy Policy</h4>
									<br>
									<p>
										This Privacy Policy is effective as (add
										date) and any changes made to it will be
										in effect immediately after being posted
										in this page.
									</p>
									<br>
									<p>
										We might make changes to this Privacy
										Policy at any time and you should check
										it periodically. Your continued use of
										the Site after we post them will
										constitute your acknowledgment of these
										modification and your consent to abide
										and be bound by the modified Privacy
										Policy.
									</p>
									<br>
									<h4>6. Contact Us</h4>
									<br>
									<p>
										If you have any questions about this
										Privacy Policy, please contact us.
									</p>
									<br>
									<p>--- # ---</p>
									<br>
								</div>
							</div>
						</div>
						<div>
							<img class="normalHomeButtonImage">
							<img class="hoveredHomeButtonImage">
							<img class="activeHomeButtonImage">
							<div class="homeButton clickable">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="rightContainer">
				<div>
					<div class="mainMenu">
						<div>
							<img class="mainMenuChains">
						</div>
						<div>
							<div id="aboutButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="aboutButtonImage">
						</div>
						<div>
							<div id="newsButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="newsButtonImage">
						</div>
						<div>
							<div id="charactersButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="charactersButtonImage">
						</div>
						<div>
							<div id="FAQButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="FAQButtonImage">
						</div>
						<div>
							<div id="contactButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="contactButtonImage">
						</div>
						<div>
							<div id="logoutButton" class="clickable">
							</div>
							<div id="loginButton" class="clickable">
							</div>
							<div id="accountButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="logoutButtonImage">
							<img id="hoveredLogoutButton" class="clickable">
							<img id="activeLogoutButton" class="clickable">
							<img id="loginButtonImage">
							<img id="accountButtonImage">
							<img id="hoveredAccountButton" class="clickable">
							<img id="activeAccountButton" class="clickable">
						</div>
					</div>
					<div class="mainMenu">
						<div>
							<img class="mainMenuChains">
						</div>
						<div>
							<img id="hoveredAboutButton">
						</div>
						<div>
							<img id="hoveredNewsButton">
						</div>
						<div>
							<img id="hoveredCharactersButton">
						</div>
						<div>
							<img id="hoveredFAQButton">
						</div>
						<div>
							<img id="hoveredContactButton">
						</div>
						<div>
							<img id="hoveredLoginButton">
						</div>
					</div>
					<div class="mainMenu">
						<div>
							<img class="mainMenuChains">
						</div>
						<div>
							<img id="activeAboutButton">
						</div>
						<div>
							<img id="activeNewsButton">
						</div>
						<div>
							<img id="activeCharactersButton">
						</div>
						<div>
							<img id="activeFAQButton">
						</div>
						<div>
							<img id="activeContactButton">
						</div>
						<div>
							<img id="activeLoginButton">
						</div>
					</div>
				</div>
				<div>
					<div class="characterMenu">
						<div>
							<img class="characterMenuChains">
						</div>
						<div>
							<div id="akaneButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="normalAkaneButton">
						</div>
						<div>
							<div id="chikaButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="normalChikaButton">
						</div>
						<div>
							<div id="ryuuButton" class="clickable">
							</div>
						</div>
						<div>
							<img id="normalRyuuButton">
						</div>
						<div>
							<div id="taroButton" class="clickable">
							</div>
						</div>	
						<div>
							<img id="normalTaroButton">
						</div>
					</div>
					<div class="characterMenu">
						<div>
							<img class="characterMenuChains">
						</div>
						<div>
							<img id="hoveredAkaneButton">
						</div>
						<div>
							<img id="hoveredChikaButton">
						</div>
						<div>
							<img id="hoveredRyuuButton">
						</div>
						<div>
							<img id="hoveredTaroButton">
						</div>
					</div>
					<div class="characterMenu">
						<div>
							<img class="characterMenuChains">
						</div>
						<div>
							<img id="activeAkaneButton">
						</div>
						<div>
							<img id="activeChikaButton">
						</div>
						<div>
							<img id="activeRyuuButton">
						</div>
						<div>
							<img id="activeTaroButton">
						</div>
					</div>
				</div>
			</div>
			<div class="promptContainer">
				<div>
					<img id="promptPaperImage">
					<div id="freeDownload">
						<h4>Before proceeding...</h4>
						<br>
						<p>Dear Sir/Madam</p>
						<br>
						<br>
						<p>
							Even though we are sharing some of our work for
							free, some of the services we use to run this little
							store are not. Therefore, if you value what we do
							and can afford helping two artists on a mission,
							please consider making a donation, no matter how
							small it may be. It doesn't have to be right now,
							you can come back later at any time. You would not
							only be helping us maintain this service but also,
							and more importantly, be supporting a new kind of
							open and sustainable business model. Thank you!
						</p>
						<br>
						<h5>
							There are three different ways for supporting us
							monetarely:
						</h5>
						<br>
						<p>
							Make a microdonation.
						</p>
						<a class="clickable" href="https://flattr.com/submit/auto?user_id=thealchemisttower&url=http%3A%2F%2Fwww.thealchemisttower.com" target="_blank">
							<img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0">
						</a>
						<p>
							Make a one time payment with Paypal.
						</p>
						<form class="clickable" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="CP7EZKDKVLFNW">
							<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
						<p>
							Or better yet, become our patron!
						</p>
						<a class="clickable" href="https://www.patreon.com/user?u=937382&ty=h" target="_top">Patreon</a>
						<div class="clickable">
							<img class="normalDownloadNowButtonImage">
							<img class="hoveredDownloadNowButtonImage">
							<img class="activeDownloadNowButtonImage">
							<a class="downloadNowButton"
								class="clickable"
								target="_blank">
							</a>
						</div>
						<div>
							<img class="normalCancelButtonImage">
							<img class="hoveredCancelButtonImage">
							<img class="activeCancelButtonImage">
							<div class="cancelButton clickable">
							</div>
						</div>
					</div>
					<div id="paidDownload">
						<h4>Thank you for ordering!</h4>
						<br>
						<p>
							Do you really want to purchase <span 
							class="characterName"></span>? If that's the case
							then, please select your favourite payment method
							below for checkout. Each link will take you to their
							official website safely. Once the process is
							completed, you will be taken right back here to
							download your item. Oh, and have you read our
							<span id="FAQLink" class="clickable">F.A.Q.s</span>
							yet?
						</p>
						<form class="clickable" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="CQSJ5A3R7KGVG">
							<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.sandbox.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1">
						</form>
						<div>
							<img class="normalCancelButtonImage">
							<img class="hoveredCancelButtonImage">
							<img class="activeCancelButtonImage">
							<div class="cancelButton clickable">
							</div>
						</div>
					</div>
					<div id="ownershipReminder">
						<h4>Just a reminder!</h4>
						<br>
						<p>
							You already own this item. Feel free to download it
							as many times you want. Remember you can also
							get this and any other of your items from your
							library, in the "Account" section.
						</p>
						<div class="clickable">
							<img class="normalDownloadNowButtonImage">
							<img class="hoveredDownloadNowButtonImage">
							<img class="activeDownloadNowButtonImage">
							<a class="downloadNowButton"
								class="clickable"
								target="_blank">
							</a>
						</div>
						<div>
							<img class="normalCancelButtonImage">
							<img class="hoveredCancelButtonImage">
							<img class="activeCancelButtonImage">
							<div class="cancelButton clickable">
							</div>
						</div>
					</div>
					<div id="login">
						<h4>Log In</h4>
						<br>
						<p>
							Have we met before? Then log in if you wish to be
							recognized as a previous visitor or place a new
							order!
						</p>
						<br>
						<form>
							<h4>Username: </h4>
							<input id="username"
									class="textField clickable"
									type="text"
									name="username"
									placeholder="enter your username here."
									size="20"
									autocomplete="off"
									maxlength="30"
									value="">
							<br>
							<h4>Password: </h4>
							<input id="password"
									class="textField clickable"
									type="password"
									name="password"
									placeholder="enter your password here."
									size="20"
									autocomplete="off"
									maxlength="30"
									value="">
							{% csrf_token %}
						</form>
						<br>
						<div>
							<img id="normalEnterButtonImage">
							<img id="hoveredEnterButtonImage">
							<img id="activeEnterButtonImage">
							<div id="enterButton" class="clickable"></div>
						</div>
						<br>
						<p id="resetLink" class="clickable">Can't log in?</p>
						<br>
						<br>
						<h4>Not registered yet?</h4>
						<br>
						<p>
							Sign up now if you wish to place a new order with
							us. However, an account is not required to get
							access to our art library.
						</p>
						<br>
						<form>
							<h4>New Username:</h4>
							<input id="newUsername"
									class="textField clickable"
									type="text"
									name="newUsername"
									placeholder="alphanumeric and underscores."
									size="20"
									autocomplete="off"
									value="">
							<br>
							<h4>New e-mail:</h4>
							<input id="newEmail"
									class="textField clickable"
									type="text"
									name="email"
									placeholder="any valid e-mail."
									value="">
							<br>
							<h4>New Password:</h4>
							<input id="newPassword"
									class="textField clickable"
									type="password"
									name="newPassword"
									placeholder="alphanumeric and underscores."
									size="20"
									autocomplete="off"
									value="">
							<br>
							<h4>Confirm Password:</h4>
							<input id="newPasswordConfirmation"
									class="textField clickable"
									type="password"
									name="newPasswordConfirmation"
									placeholder="re-type your password."
									size="20"
									autocomplete="off"
									value="">
							{% csrf_token %}
						</form>
						<div>
							<img id="normalRegisterButtonImage">
							<img id="hoveredRegisterButtonImage">
							<img id="activeRegisterButtonImage">
							<div id="registerButton" class="clickable"></div>
						</div>
						<div>
							<img class="normalCancelButtonImage">
							<img class="hoveredCancelButtonImage">
							<img class="activeCancelButtonImage">
							<div class="cancelButton clickable">
							</div>
						</div>
					</div>
					<div id="accountRecoveryRequest">
						<h4>Account recovery</h4>
						<h5>Step 1 of 3: Request</h5>
						<br>
						<p>
							If you have forgotten your login credentials, you
							can still recover your account by providing us with
							the e-mail address you used to register. In turn, we
							will send you a code which you will need to
							introduce in order to proceed to reseting your
							password. Bare in mind it make take a couple of
							minutes to receive our message. Also, please make
							sure that your e-mail's spam filter is not blocking
							our messages. If you still have problems, don't
							hesitate to contact us.
						</p>
						<br>
						<form>
							<h4>E-mail: </h4>
							<input id="recoveryEamil"
								class="textField clickable"
								type="text"
								name="resetEamil"
								placeholder="registered e-mail."
								size="20"
								autocomplete="off"
								value="">
							{% csrf_token %}
						</form>
						<div>
							<img id="normalSendRequestButtonImage">
							<img id="hoveredSendRequestButtonImage">
							<img id="activeSendRequestButtonImage">
							<div id="sendRequestButton" class="clickable"></div>
						</div>
						<div>
							<img class="normalBackToLoginButtonImage">
							<img class="hoveredBackToLoginButtonImage">
							<img class="activeBackToLoginButtonImage">
							<div class="backToLoginButton clickable">
							</div>
						</div>
					</div>
					<div id="welcome">
						<h4>Welcome back!</h4>
						<br>
						<p>
							Glad to see you again! Please, come in.
						</p>
					</div>
					<div id="goodbye">
						<h4>Goodbye my friend!</h4>
						<br>
						<p>
							Hope to see you back very soon!
						</p>
					</div>
					<div id="accountRecoveryConfirmation">
						<h4>Account Recovery</h4>
						<h5>Step 2 of 3: Confirmation</h5>
						<br>
						<p>
							We have just sent you an e-mail message. While
							leaving this window open, please check your inbox
							and introduce the code we provided you with in the
							message into the box below.
						</p>
						<br>
						<br>
						<br>
						<form>
							<h4>Recovery code: </h4>
							<input id="recoveryCode"
								class="textField clickable"
								type="password"
								name="recoveryCode"
								placeholder=""
								size="6"
								autocomplete="off"
								maxlength="6"
								value="">
							{% csrf_token %}
						</form>
						<div>
							<img id="normalConfirmOwnershipButtonImage">
							<img id="hoveredConfirmOwnershipButtonImage">
							<img id="activeConfirmOwnershipButtonImage">
							<div id="confirmOwnershipButton" class="clickable">
							</div>
						</div>
						<div>
							<img class="normalBackToStepOneButtonImage">
							<img class="hoveredBackToStepOneButtonImage">
							<img class="activeBackToStepOneButtonImage">
							<div class="backToStepOneButton clickable"></div>
						</div>
						<div>
							<img class="normalCancelButtonImage">
							<img class="hoveredCancelButtonImage">
							<img class="activeCancelButtonImage">
							<div class="cancelButton clickable">
							</div>
						</div>
					</div>
					<div id="accountRecoveryReset">
						<h4>Account Recovery</h4>
						<h5>Step 3 of 3: Reset</h5>
						<br>
						<p>
							Please introduce your new password twice in the form
							below to make sure there are no mistakes.
						</p>
						<br>
						<br>
						<br>
						<form>
							<h4>New Password:</h4>
							<input id="resetPassword"
									class="textField clickable"
									type="password"
									name="newPassword"
									placeholder="alphanumeric and underscores."
									size="20"
									autocomplete="off"
									value="">
							<br>
							<h4>Confirm Password:</h4>
							<input id="confirmResetedPassword"
									class="textField clickable"
									type="password"
									name="confirmPassword"
									placeholder="re-type your password."
									size="20"
									autocomplete="off"
									value="">
							{% csrf_token %}
						</form>
						<div>
							<img id="normalResetButtonImage">
							<img id="hoveredResetButtonImage">
							<img id="activeResetButtonImage">
							<div id="resetButton" class="clickable"></div>
						</div>
						<div>
							<img class="normalCancelButtonImage">
							<img class="hoveredCancelButtonImage">
							<img class="activeCancelButtonImage">
							<div class="cancelButton clickable">
							</div>
						</div>
					</div>
					<div id="accountRecoveryCompleted">
						<h4>Recovery completed!</h4>
						<br>
						<p>
							Your password was changed successfully. You can
							now log in to your account.
						</p>
					</div>
					<div id="registrationCompleted">
						<h4>Welcome to The Alchemist's Tower!</h4>
						<br>
						<p>
							Your account has been created successfully! Thank
							you for registering.
						</p>
					</div>
					<div id="passwordChanged">
						<h4>Password has been changed!</h4>
						<br>
						<p>
							A notification has been sent to your e-mail address
							to remind you of this change.
						</p>
					</div>
					<div id="emailChanged">
						<h4>E-mail has been changed!</h4>
						<br>
						<p>
							A notification has been sent to both of your e-mail
							address to remind you of this change.
						</p>
					</div>
					<div id="notLoggedIn">
						<h4>You need to be logged in to this action!</h4>
						<br>
						<p>
							Your session has expired apparently. Please log in
							back again.
						</p>
					</div>
				</div>
				<img id="scrollTopHandle" class="promptHandleImage">
				<img id="scrollBottomHandle" class="promptHandleImage">
			</div>
			<div>
				<div>
					<div>
						<p id="TOSbutton" class="clickable">Terms of Service</p>
					</div>
					<div>
						<p id="PPbutton" class="clickable">Privacy Policy</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Link to JavaScript license information for LibreJS. -->
		<div>
			<a href="http://localhost/jslicense" data-jslicense="1" target="_blank">
				The JavaScript code in this page is free software!
			</a>
		</div>
		<div>
			This site only works with JavaScript enabled.
		</div>
	</body>
</html>
