<!doctype html>
<html lang="en">
	<head>
		<!-- LICENSE -->
		<script>
			/*
			@licstart  The following is the entire license notice for the 
			JavaScript code in this page.
			
			Copyright (C) 2016 Andres Angelini and Sergio de los Santos
			
			The JavaScript code in this page is free software: you can
			redistribute it and/or modify it under the terms of the GNU
			General Public License (GNU GPL) as published by the Free Software
			Foundation, either version 3 of the License, or (at your option)
			any later version.  The code is distributed WITHOUT ANY WARRANTY;
			without even the implied warranty of MERCHANTABILITY or FITNESS
			FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.
			
			As additional permission under GNU GPL version 3 section 7, you
			may distribute non-source (e.g., minimized or compacted) forms of
			that code without the copy of the GNU GPL normally required by
			section 4, provided you include this license notice and a URL
			through which recipients can access the Corresponding Source.   
			
			
			@licend  The above is the entire license notice
			for the JavaScript code in this page.
			*/
		</script>
		
		{% load staticfiles %}
		<!-- Save DJANGO STATIC URL -->
		<script>
			var staticUrl = "{{ STATIC_URL }}";
		</script>
		
		<!-- Load CSS and JS files -->
		<link rel="stylesheet" type="text/css"
			href="{% static 'css/index.css' %}">
		
		<!-- Set website name on browser window and load icon -->
		<title>The Alchemist's Tower</title>
		<link rel="icon" type="image/png"
			href="{% static 'art/img/lgo/TATLogo.png' %}"/>
		
		<!-- Set character encoding -->
		<meta charset="utf-8">
	</head>
	<body>
		<div>
			Thank you for your payment! Check your account's library to get your
			new item.<br>
			<br>
			<a class="clickable" href="http://www.thealchemisttower.com">
				Back to our site.
			</a>
		</div>
	</body>
</html>
