/*!
layout.css -- css stylesheet used on www.thealchemisttower.com

Copyright (C) 2016 Andres Angelini and Sergio de los Santos

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
</div><!-- /toplinks -->
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.
*/


/**************************CASCADE STYLE SHEET*********************************/

/*Font declarations*/

@font-face {
	font-family: 'MedievalSharpBold';
	src: url('../fnt/Medieval Sharp/MedievalSharp-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MedievalSharpBoldOblique';
		src: url('../fnt/Medieval Sharp/MedievalSharp-BoldOblique.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'MedievalSharpOblique';
		src: url('../fnt/Medieval Sharp/MedievalSharp-Oblique.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'MedievalSharpBook';
		src: url('../fnt/Medieval Sharp/MedievalSharp.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

/*Styles*/

body {
	background-color: #2D2D2D;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div, img, p {
	display: block;
}

img {
	width: 100%;
}

p, table, form, h1, h2, h3, h4, h5, h6, input[type=text], input[type=password],
input[type=submit], textarea, button {
	color: #321102;
	font-family: 'MedievalSharpBook';
}

a {
	text-decoration: none;
	outline: 0;
}

p, table, form, input[type=text], input[type=password], input[type=submit],
textarea, button {
	font-size: 1em;
}
/* Disable clicks on divs, images and most types of texts. */
div, img, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tfoot, tr, th, td {
	pointer-events: none;
}

/* Re-enable clicks on buttons. */
.clickable {
	pointer-events: auto;
}

/* Fix for Webkit. */
::-webkit-input-placeholder {
	color: #321102;
	opacity: 0.5;
}

/* Remove outline from "Contact" form inputs on focus in Webkit. */
.textField:focus, .textArea:focus {
	outline: none;
}

/* This class is to be called by js when input is invalid in Webkit. */
.warning::-webkit-input-placeholder {
	color: red;
	opacity: 0.5;
}

/* Remove space around the canvas and thus avoid scrollbars. */
canvas {
	display: block;
}

.loaderContainer > div > p {
	display: none;
}

.backgroundCanvasContainer {
	min-height: 100%;
	min-width: 0;
	position: absolute;
	pointer-events: none;
}

.loader {
	height: 0; /* Fixed value calculated with display's width. */
	width: 0; /* Fixed value calculated with display's width. */
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -240px;
	margin-left: -256px;
}

.loader > img {
	height: 100%;
	margin: auto;
	position: absolute;
	width: 100%;
}

.loader > p {
	color: white;
	display: block;
	margin: auto;
	position: absolute;
	top: 100%;
	text-align: center;
	left: 0;
	right: 0;
}

.loaderContainer {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
}

.glow {
	height: 50px;
	position: absolute;
	left: 32%;
	top: -1.5%;
	width: 50px;
}

.flash {
	background-color: white;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
}

.blur {
	background-color: black;
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.floatContainer {
	visibility: hidden; /* GUI must be hidden to be later displayed by js. */
	max-width: 100%;
	min-width: 0; /* Fixed value calculated with display's width. */
	height: 0; /* Height must be 0 in order for canvas to be visible */
}
/* TOS and Privacy Policy vertical container. */
.floatContainer>div:last-child {
	position: absolute;
	left: 0;
	top: 900px;
	width: 100%;
}
/* TOS and Privacy Policy horizontal container. */
.floatContainer>div:last-child>div {
	position: absolute;
	left: 50%;
	margin-left: -10%;
	width: 20%;
}
/* TOS and Privacy Policy. */
.floatContainer>div:last-child>div>div>p {
	position: absolute;
	color: white;
	cursor: pointer;
}
/* TOS. */
.floatContainer>div:last-child>div>div:first-child>p {
	text-align: left;
}
/* Privacy Policy. */
.floatContainer>div:last-child>div>div:last-child>p {
	right: 0;
	text-align: right;
}

.leftContainer {
	width: 0; /* Fixed value calculated with display's width. */
	min-width: 0; /* Fixed value calculated with display's width. */
	height: 100%;
	float: left;
}

.leftContainer > div {
	width: 0; /* Fixed value calculated with display's width. */
	height: 100%;
	float: right;
}

.leftContainer > div > div { /* Boards. */
	position: absolute;
	top: 0; /* Fixed value calculated by js. */
}

.leftContainer > div:first-child > div:nth-child(1) > p {
	font-weight: bold;
	position: absolute;
}

.leftContainer > div:first-child > div:nth-child(1) > p:nth-child(3) {
	left: 42%;
	top: 22%;
	width: 50%;
}

.leftContainer > div:first-child > div:nth-child(1) > p:nth-child(4) {
	left: 7%;
	top: 47%;
	width: 50%;
}

.leftContainer > div:first-child > div:nth-child(1) > p:nth-child(5) {
	left: 42%;
	top: 66%;
	width: 50%;
}

.leftContainer > div:first-child > div:nth-child(1) > p:first-letter {
	color: #800000;
	float: left;
	font-size: 3em;
	line-height: 0.8em;
}

/* This div contains character viewer canvas. */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(2) > div {
	height: 55%;
	position: absolute;
	left: 5%;
	top: 23%;
	width: 45%;
}

/* This second character board image is for placing character viewer canvas
behind. */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(2) >
	img:last-child {
	position: absolute;
	pointer-events: none;
}

.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(2) > div >
	img {
	position: absolute;
	height: 100%;
	width: 100%;
}
/* Character profile */
.leftContainer > div:first-child > div:nth-child(3) > table {
	display: table;
	padding: 0 6% 0 4%;
	position: absolute;
	left: 50%; /* Webkit also needs the left property to be declared. */ 
	right: 0;
	top: 22%;
	width: 50%;
}

.leftContainer > div:first-child > div:nth-child(3) > table > tbody {
	font-weight: bold;
	text-align: justify;
}

.leftContainer > div:first-child > div:nth-child(3) > table > tfoot > tr >
	td:first-child {
	width: 30%;
}
/* Character viewer control tips container */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(7) {
	bottom: 17%;
	height: 3.7%;
	position: absolute;
	width: 100%;
}
/* Character viewer control tips */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(7) > p {
	bottom: 0;
	left: 8%;
	position: absolute;
	text-align: center;
	font-size: 0.75em;
	width: 40%;
}
/* Character viewer control tips words in bold */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(7) > p >
	span {
	font-weight: bold;
}
/* Character action name and arrows container */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(8) {
	bottom: 13%;
	position: absolute;
}
/* Character action name */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(8) > p {
	bottom: 0;
	font-size: 1.25em;
	left: 18%;
	line-height: 100%;
	position: absolute;
	text-align: center;
	width: 20%;
}

.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(8) >
img:nth-child(3), img:nth-child(4), img:nth-child(5), img:nth-child(6),
img:nth-child(7) {
	bottom: 0;
	position: absolute;
}

.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(8) > div {
	bottom: 0;
	height: 100%;
	position: absolute;
	width: 2.5%;
}

.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(8) >
	div:nth-child(8) {
	left: 14%;
}

.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(8) >
	div:nth-child(9) {
	left: 40%;
}
/* "Download" button container. */
.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(9) {
	bottom: 16%;
	position: absolute;
}

.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(9) >
	img:nth-child(2), img:nth-child(3) {
	bottom: 0;
	position: absolute;
}

.leftContainer > div:first-child > div:nth-child(3) > div:nth-child(9) > div {
	height: 100%;
	position: absolute;
	top: 0;
	margin-left: -10.5%;
	left: 82.5%;
	width: 21%;
}
/* Repeat rules for "Back to download" button */
.leftContainer > div:first-child > div:nth-child(4) > div:nth-child(4) {
	bottom: 5%;
	display: none;
	position: absolute;
}
/* Repeat rules for "Back to download" button */
.leftContainer > div:first-child > div:nth-child(4) > div:nth-child(4) >
	img:nth-child(2), img:nth-child(3) {
	bottom: 0;
	position: absolute;
}
/* Repeat rules for "Back to download" button */
.leftContainer > div:first-child > div > div:nth-child(4) > div {
	bottom: 0;
	height: 100%;
	margin-left: -14%; 
	position: absolute;
	left: 50%;
	width: 28%;
}

.leftContainer > div:first-child > div > div:last-child {
	bottom: 5%;
	position: absolute;
}

.leftContainer > div:first-child > div > div:last-child > img:nth-child(2),
	img:nth-child(3) {
	bottom: 0;
	position: absolute;
}

.leftContainer > div:first-child > div > div:last-child > div {
	bottom: 0;
	height: 100%;
	margin-left: -5%; 
	position: absolute;
	left: 50%;
	width: 10%;
}

.leftContainer > div > div:nth-child(5) > form {
	margin-left: -30%;
	position: absolute;
	left: 50%;
	top: 30%;
	width: 60%;
}

.leftContainer > div > div:nth-child(5) > form > h4 {
	display: inline;
}

.leftContainer > div > div:nth-child(5) > form > input {
	background-color: transparent;
	border: 1px dashed transparent;
}

.leftContainer > div > div:nth-child(5) > form > textarea {
	background-color: transparent;
	border: 1px dashed transparent;
	width: 100%;
	resize: none;
}

.leftContainer > div > div:nth-child(5) > div:nth-child(4) {
	display: none;
	position: absolute;
	text-align: center;
	top: 50%;
}

.leftContainer > div > div:nth-child(5) > div:nth-child(4) > p {
	margin-right: 20%;
	margin-left: 20%;
}

.leftContainer > div > div:nth-child(5) > div:nth-child(5) {
	bottom: 15%;
	position: absolute;
}

.leftContainer > div > div:nth-child(5) > div:nth-child(5) > img:nth-child(2) {
	position: absolute;
	top: 0;
}

.leftContainer > div > div:nth-child(5) > div:nth-child(5) > div {
	height: 100%;
	left: 50%;
	margin-left: -4%;
	position: absolute;
	top: 0;
	width: 8%;
}
/* "Login info" title. */
.leftContainer > div > div:nth-child(6) > h2 {
	position: absolute;
	top: 22%;
	text-align: center;
	width: 100%;
}
/* "My library" title. */
.leftContainer > div > div:nth-child(6) > h2:nth-child(5) {
	top: 49%;
}
/* Account's form. */
.leftContainer > div > div:nth-child(6) > form:nth-child(4) {
	left: 5%;
	position: absolute;
	top: 26%;
	width: 45%;
}
/* "Account" input tags. */
.leftContainer > div > div:nth-child(6) > form:nth-child(4) > h4 {
	position: absolute;
}
/* Account's inputs. */
.leftContainer > div > div:nth-child(6) > form:nth-child(4) > input[type=text],
.leftContainer > div > div:nth-child(6) > form:nth-child(4) >
input[type=password] {
	border-style: inset;
	border-width: 0.15em;
	border-color: #d4a069;
	background-color: #e3d2c1;
}

/* Account's inputs. */
.leftContainer > div > div:nth-child(6) > form:nth-child(4) > input[type=text],
.leftContainer > div > div:nth-child(6) > form:nth-child(4) >
input[type=password] {
	left: 40%;
	position: absolute;
	width: 44%;
	}

/* Fix for Account's first input. */
.leftContainer > div > div:nth-child(6) > form:nth-child(4) >
input[type=text]:nth-child(2) {
	background-color: #b08c6a;
	color: #6a4534;
}

/* Account's submit buttons. */
.leftContainer > div > div:nth-child(6) > form > input[type=submit],
.leftContainer > div > div:nth-child(6) > form:nth-child(9) > button {
	background-color: #6f3712;
	border-style: outset;
	border-width: 0.15em;
	border-color: #d3ae89 #ac5e12 #ac5e12 #d3ae89;
	box-shadow: 0.15em 0.15em 0 #7a3d1b;
	color: #d4a069;
	font-size: 0.9em;
	font-weight: bold;
	outline: none;
	padding: 0.125em 0.2em;
}

/* Username, e-mail and password's submit buttons. */
.leftContainer > div > div:nth-child(6) > form:nth-child(4) >
	input[type=submit] {
	left: 87%;
	position: absolute;
}

/* Account's submit buttons on hover. */
.leftContainer > div > div:nth-child(6) > form > input[type=submit]:hover,
.leftContainer > div > div:nth-child(6) > form:nth-child(9) > button:hover {
	color: #ffc308;
}
/* Account's submit buttons when active. */
.leftContainer > div > div:nth-child(6) > form > input[type=submit]:active,
.leftContainer > div > div:nth-child(6) > form:nth-child(9) > button:active {
	border-color: #ac5e12 #d3ae89 #d3ae89 #ac5e12;
	border-style: inset;
	box-shadow: 0 0 0 #7a3d1b;
	color: #ffc308;
}

.leftContainer > div > div:nth-child(6) > p:nth-child(6) {
	left: 50%;
	margin-left: -40%;
	position: absolute;
	top: 53%;
	width: 80%
}

/* "Library" titles. */
.leftContainer > div > div:nth-child(6) > table:nth-child(7) {
	left: 50%;
	margin-left: -22.5%;
	position: absolute;
	top: 57%;
	width: 45%;
}
/* "Library" titles cells. */
.leftContainer > div > div:nth-child(6) > table:nth-child(7) > thead > tr > th {
	text-align: center;
	width: 25%;
}

/* "Library" container. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) {
	height: 100%;
	position: absolute;
	top: 0;
}

/* "Library" div. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div {
	border-style: inset;
	border-width: 0.15em;
	border-color: #d4a069;
	background-color: #e3d2c1;
	font-size: 1em;
	height: 20%;
	left: 50%;
	margin-left: -22.5%;
	position: absolute;
	top: 60%;
	width: 45%;
}

/* "Library" options. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div >
div:last-child > div > div {
	pointer-events: auto;
}

/* "Download" (from library) button. */
.leftContainer > div > div:nth-child(6) > form:nth-child(9) > button {
	left: 50%;
	margin-left: -4.5%;
	position: absolute;
	bottom: 15%;
	width: 9%;
}

.rightContainer {
	width: 0; /* Fixed value calculated with display's width. */
	min-width: 0; /* Fixed value calculated with display's width. */
	height: 100%;
	float: right;
}

.rightContainer > div {
	width: 0; /* Fixed value calculated with display's width. */
	height: 100%;
	float: left;
}

.rightContainer > div:last-child {
	position: absolute;
	top: 0;
}

.rightContainer > div > div { /* Main Menu and Character Menu. */
	position: absolute;
	top: 0; /* Fixed value calculated by js. */
}
/* Main menu button hotspot wrappers. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(even) {
	position: absolute;
	height: 6%;
	width: 100%;
	z-index: 1;
}
/* Apply the following to both menu buttons. */
.rightContainer > div > div:nth-child(1) > div:nth-child(even) > div {
	position: relative;
	height: 100%;
	left: 50%;
}
/* "About" button hotspot wrapper. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	top: 12.5%;
}
/* "About" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div {
	margin-left: -33%;
	width: 66%;
}
/* "News" button hotspot wrapper. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) {
	top: 28.5%;
}
/* "News" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div {
	margin-left: -33%;
	width: 66%;
}
/* "Characters" button hotspot wrapper. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(6) {
	top: 44%;
}
/* "Characters" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(6) > div {
	margin-left: -46%;
	width: 92%;
}
/* "FAQ" button hotspot wrapper. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(8) {
	top: 59%;
}
/* "FAQ" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(8) > div {
	margin-left: -20%;
	width: 40%;
}
/* "Contact" button hotspot wrapper. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(10) {
	top: 73.5%;
}
/* "Contact" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(10) >
div {
	margin-left: -35%;
	width: 70%;
}
/* "Log in" button hotspot wrapper. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(12) {
	top: 88%;
}
/* "Log out" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(12) >
div:first-child {
	margin-left: -33%;
	width: 66%;
	}
/* "Log in" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(12) >
div:nth-child(2) {
	margin-left: -33%;
	position: absolute;
	top: 0;
	width: 66%;
	z-index: 2;
}
/* "Account" button hotspot. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(12) >
div:nth-child(3) {
	display: none;
	margin-left: -33%;
	position: absolute;
	top: 0;
	width: 66%;
	z-index: 2;
}
/* "Log in" button image wrapper. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(13) {
	position: relative;
}
/* "Log out" button image. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(13) >
img:first-child {
	position: relative;
}
/* Hovered "Log out" button image. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(13) >
img:nth-child(2) {
	position: absolute;
	top: 0;
}
/* Active "Log out" button image. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(13) >
img:nth-child(3) {
	position: absolute;
	top: 0;
}
/* "Log in" button image. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(13) >
img:nth-child(4) {
	position: absolute;
	top: 0;
	z-index: 0;
}
/* "Account" button image. */
.rightContainer > div:nth-child(1) > div:nth-child(1) > div:nth-child(13) >
img:nth-child(5) {
	display: none;
	position: absolute;
	top: 0;
	z-index: 0;
}
.rightContainer > div:nth-child(2) > div:nth-child(1) > div:nth-child(even) {
	position: absolute;
	height: 6%;
	width: 100%;
	z-index: 1;
}

.rightContainer > div:nth-child(2) > div:nth-child(1) > div:nth-child(even) >
div {
	position: relative;
	margin-left: -40%;
	width: 80%;
}

.rightContainer > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
	top: 18%;
}

.rightContainer > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) {
	top: 40.5%;
}

.rightContainer > div:nth-child(2) > div:nth-child(1) > div:nth-child(6) {
	top: 63%;
}

.rightContainer > div:nth-child(2) > div:nth-child(1) > div:nth-child(8) {
	top: 85.5%;
}
/* Scroll container. */
.scrollContainer {
	height: 58%;
	overflow: hidden;
	position: absolute;
	top: 29%;
	width: 100%;
}
/* Scroll track. */
.scrollContainer > div:first-child {
	border: 1px dashed transparent;
	height: 92.1%;
	left: 86.5%;
	position: absolute;
	top: 5.1%;
	width: 2.5%;
}
/* Scroll thumb. */
.scrollContainer > div:first-child > div {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1; /* Prevents thumb from being blocked by other elements. */ 
}
/* Scroll thumb images. */
.scrollContainer > div:first-child > div > img {
	position: relative;	
}
/* Scroll content. */
.scrollContainer > div:last-child {
	height: 100%;
	left: 50%;
	margin-left: -30%;
	position: absolute;
	text-align: center;
	width: 60%;
}
/* News and FAQ's index headings. */
.leftContainer > div > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) >
div:first-child > .headings:hover,
.leftContainer > div > div:nth-child(4) > div:nth-child(3) > div:nth-child(2) >
div:first-child > .headings:hover {
	cursor: pointer;
	font-weight: bold;
}
/* Fix for "Library" scroll track. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div >
div:first-child {
	background-color: #c0967a;
	height: 100%;
	left: 96%;
	top: 0;
	width: 4%;
	z-index: 1; /* Must be drawn above options. */
}
/* Fix for "Library" scroll content. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div >
div:last-child {
	left: 0;
	margin-left: 0;
	width: 100%;
}
/* Library item div. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div >
div:last-child > div {
	position: relative;
	width: 100%;
}
/* "Library" table. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div >
div:last-child > div > div > table {
	display: table;
	width: 100%;
}
/* "Library" table cells. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div >
div:last-child > div > div > table > tbody > tr > td {
	text-align: center;
	width: 25%;
}
/* "Library" table first cell. */
.leftContainer > div > div:nth-child(6) > div:nth-child(8) > div >
div:last-child > div > div > table > tbody > tr > td:first-child {
	font-weight: bold;
}

.promptContainer {
	display: none;
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 3;
}

.promptContainer > img:nth-child(2), img:nth-child(3) {
	position: absolute;
}

.promptContainer > img:nth-child(2) {
	top: 0;
}

.promptContainer > img:nth-child(3) {
	bottom: 0;
}

.promptContainer > div {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.promptContainer > div > img {
	position: absolute;
}

.promptContainer > div > div {
	display: none;
	height: 84%;
	left: 50%;
	margin-top: -42%;
	margin-left: -30%;
	position: absolute;
	top: 58%;
	width: 60%;
}
/* Prompt title. */
.promptContainer > div > div > h4 {
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
}

.promptContainer > div > div > p:nth-child(6):first-letter {
	float: left;
	font-size: 3em;
	line-height: 0.8em;
}

.promptContainer > div > div > p:nth-child(10) {
	left: 30%;
	position: absolute;
	top: 56%;
}

/* Flattr link. */
.promptContainer > div > div > a:nth-child(11) {
	cursor: pointer;
	height: 3%;
	left: 5.4%;
	position: absolute;
	top: 56%;
	width: 17%;
}
/* Fix Flattr image. */
.promptContainer > div > div > a:nth-child(11)> img {
	width: auto;
}

.promptContainer > div > div > p:nth-child(12) {
	left: 30%;
	position: absolute;
	top: 65%;
}
/* Paypal Donation form. */
.promptContainer > div > div > form:nth-child(13) {
	position: absolute;
/*	margin-left: -15%; /* Because its width is 30% of its parent's. */
/*	left: 50%;*/
	top: 65%;
}

.promptContainer > div > div > form:nth-child(13):focus,
.promptContainer > div > div > form:nth-child(13) > input:focus {
	outline: none;
}

.promptContainer > div > div:nth-child(2) > p:nth-child(14) {
	left: 30%;
	position: absolute;
	top: 78%;
}
/* Patreon link. */
.promptContainer > div > div > a:nth-child(15) {
	background-color: #FF5900;
	border-radius: 5px;
	color: #FFF;
	font-family: Helvetica Neue,Arial,sans-serif;
	font-weight: bold;
	height: 5%;
	left: 5%;
	line-height: 1.5em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 78%;
	width: 17.2%;
}

/* "Download Now!" button wrapper. */
.promptContainer > div > div > div:nth-child(4),
.promptContainer > div > div > div:nth-child(16) {
	bottom: 6%;
	position: absolute;
}

.promptContainer > div > div > div:nth-child(4) > img:nth-child(2),
.promptContainer > div > div > div:nth-child(16) > img:nth-child(2) {
	position: absolute;
	top: 0;
}
.promptContainer > div > div > div:nth-child(4) > a,
.promptContainer > div > div > div:nth-child(16) > a {
	height: 100%;
	left: 50%;
	margin-left: -22%;
	position: absolute;
	top: 0;
	width: 44%;
}
/* Prompt "Cancel" button wrapper. */
.promptContainer > div > div > div:last-child {
	bottom: 0;
	position: absolute;
}

.promptContainer > div > div > div:last-child > img:nth-child(2) {
	position: absolute;
	top: 0;
}

.promptContainer > div > div > div:last-child > div {
	height: 100%;
	left: 50%;
	margin-left: -9%;
	position: absolute;
	top: 0;
	width: 18%;
}

.promptContainer > div > div > p > span {
	font-weight: bold;
}

.promptContainer > div > div > p > span:last-child {
	cursor: pointer;
	text-decoration: none;
}

.promptContainer > div > div > p > span:last-child:hover {
	text-decoration: underline;
}

.promptContainer > div > div:nth-child(3) > form {
	position: absolute;
	margin-left: -15%; /* Because its width is 30% of its parent's. */
	left: 50%;
	bottom: 10%;
}
/* Prompt titles and subtitles. */
.promptContainer > div > div:nth-child(5) > h4,
.promptContainer > div > div:nth-child(6) > h4,
.promptContainer > div > div:nth-child(7) > h5,
.promptContainer > div > div:nth-child(8) > h4,
.promptContainer > div > div:nth-child(9) > h5,
.promptContainer > div > div:nth-child(10) > h4,
.promptContainer > div > div:nth-child(11) > h5,
.promptContainer > div > div:nth-child(12) > h5,
.promptContainer > div > div:nth-child(13) > h4,
.promptContainer > div > div:nth-child(14) > h4,
.promptContainer > div > div:nth-child(15) > h4,
.promptContainer > div > div:nth-child(16) > h4,
.promptContainer > div > div:nth-child(17) > h4 {
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
}
/* Prompt subtitles. */
.promptContainer > div > div:nth-child(6) > h5,
.promptContainer > div > div:nth-child(9) > h5,
.promptContainer > div > div:nth-child(10) > h5 {
	font-size: 1em;
}
/* Input tags. */
.promptContainer > div > div:nth-child(5) > form > h4,
.promptContainer > div > div:nth-child(6) > form > h4,
.promptContainer > div > div:nth-child(9) > form > h4,
.promptContainer > div > div:nth-child(10) > form > h4 {
	display: inline;
}
/* Inputs for "Log in" and "Account recovery". */
.promptContainer > div > div:nth-child(5) > form > input,
.promptContainer > div > div:nth-child(6) > form > input,
.promptContainer > div > div:nth-child(9) > form > input,
.promptContainer > div > div:nth-child(10) > form > input {
	width: 40%;
	border: 2px dashed transparent;
	border-bottom: 2px dashed #856B5B;
	background-color: transparent;
}
/* "Recovery code" input. */
.promptContainer > div > div:nth-child(9) > form > input {
	width: 12%;
}
/* "Enter" button wrapper. */
.promptContainer > div > div:nth-child(5) > div:nth-child(7) {
	position: absolute;
	top: 30%;
}
/* "Enter" button's hovered image. */
.promptContainer > div > div:nth-child(5) > div:nth-child(7) > img:nth-child(2)
	{
	position: absolute;
	top: 0;
}
/* "Enter" button hotspot. */
.promptContainer > div > div:nth-child(5) > div:nth-child(7) > div:nth-child(4)
{
	height: 100%;
	left: 50%;
	margin-left: -9%;
	position: absolute;
	top: 0;
	width: 18%;
}
/* "Can't log in?" button. */
.promptContainer > div > div:nth-child(5) > p:nth-child(9) {
	font-size: 0.75em;
	left: 42.5%;
	position: absolute;
	top: 35%;
	width: 18%;
}
/* "Can't log in?" button on hover. */
.promptContainer > div > div:nth-child(5) > p:nth-child(9):hover {
	text-decoration: underline;
}

.promptContainer > div > div:nth-child(5) > p:nth-child(9):first-letter {
	float: none;
	font-size: 0.75em;
}
/* "Register", "Send request", "Back to step one" and "Confirm ownership"
button wrappers. */
.promptContainer > div > div:nth-child(5) > div:nth-last-child(2),
.promptContainer > div > div:nth-child(6) > div:nth-last-child(2),
.promptContainer > div > div:nth-child(9) > div:nth-last-child(3),
.promptContainer > div > div:nth-child(9) > div:nth-last-child(2),
.promptContainer > div > div:nth-child(10) > div:nth-last-child(2) {
	bottom: 5%;
	position: absolute;
}
/* Fix for "Send request" and "Reset" button wrappers. */
.promptContainer > div > div:nth-child(6) > div:nth-last-child(2),
.promptContainer > div > div:nth-child(10) > div:nth-last-child(2) {
	bottom: 6%;
}
/* Fix for "Confirm ownership" button wrapper */
.promptContainer > div > div:nth-child(8) > div:nth-last-child(3) {
	bottom: 10%;
}
/* Fix for "Back to step one" button wrapper */
.promptContainer > div > div:nth-child(9) > div:nth-last-child(2) {
	bottom: 4%;
}
/* "Register", "Send request", "Confirm ownership" and "Back to step one"
   buttons' hovered images. */
.promptContainer > div > div:nth-child(5) > div:nth-last-child(2) >
img:nth-child(2),
.promptContainer > div > div:nth-child(6) > div:nth-last-child(2) >
img:nth-child(2),
.promptContainer > div > div:nth-child(9) > div:nth-last-child(3) >
img:nth-child(2),
.promptContainer > div > div:nth-child(9) > div:nth-last-child(2) >
img:nth-child(2),
.promptContainer > div > div:nth-child(10) > div:nth-last-child(2) >
img:nth-child(2) {
	position: absolute;
	top: 0;
}
/* "Register", "Send request", "Confirm ownership" and "Back to step one"
   buttons' hotspots. */
.promptContainer > div > div:nth-child(5) > div:nth-last-child(2) >
div:nth-child(4),
.promptContainer > div > div:nth-child(6) > div:nth-last-child(2) >
div:nth-child(4),
.promptContainer > div > div:nth-child(9) > div:nth-last-child(3) >
div:nth-child(4),
.promptContainer > div > div:nth-child(9) > div:nth-last-child(2) >
div:nth-child(4),
.promptContainer > div > div:nth-child(10) > div:nth-last-child(2) >
div:nth-child(4) {
	height: 100%;
	left: 50%;
	margin-left: -12.5%;
	position: absolute;
	top: 0;
	width: 25%;
}
/* Fix for "Send request" button's hotspot. */
.promptContainer > div > div:nth-child(6) > div:nth-last-child(2) >
div:nth-child(4) {
	left: 50%;
	margin-left: -19%;
	width: 38%;
}
/* Fix for "Confirm ownership" button's hotspot. */
.promptContainer > div > div:nth-child(9) > div:nth-last-child(3) >
div:nth-child(4) {
	left: 50%;
	margin-left: -30%;
	width: 60%;
}
/* Fix for "Back to step one" button's hotspot. */
.promptContainer > div > div:nth-child(9) > div:nth-last-child(2) >
div:nth-child(4) {
	left: 50%;
	margin-left: -25%;
	width: 50%;
}
/* Fix for "Reset" button's hotspot. */
.promptContainer > div > div:nth-child(10) > div:nth-last-child(2) >
div:nth-child(4) {
	left: 50%;
	margin-left: -10%;
	width: 20%;
}
/* Welcome message. */
.promptContainer > div > div:nth-child(7) > p {
	text-align: center;
}
/* Goodbye message. */
.promptContainer > div > div:nth-child(8) > p {
	text-align: center;
}
/* Link to JavaScript license */
body > div:nth-last-child(2) {
	display: none;
	bottom: 5%;
	font-family: 'MedievalSharpBook';
	position: absolute;
	text-align: center;
	width: 100%;
}

body > div:nth-last-child(2)> a {
	color: white;
	pointer-events: auto;
}
/* JavaScript warning. */
body > div:last-child {
	font-family: monospace;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	background-color: #fff;
	color: #000;
	padding: 1.5em;
	width: 460px;
	margin: 5em auto 0;  
}
/* Re-enable clicks on the message links. */
body > div:last-child > a,
body > div:last-child > table > tr > td > a {
	pointer-events: auto;
}
/* JavaScript license table. */
body > div:first-child > table {
	font-family: monospace;
}
